<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
	</head>
	<body>
	<div class="well well-lg">
		<h1>About</h1>
		<p class="lead">This is the about page</p>
	</div>
	</body>
</html>
