<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
	</head>
	<body style="background-color: powderblue;">
		<h1>Home</h1>
		<p tooltip="About Page">
			<strong><%= link_to 'About', about_path %></strong>
		</p>
	</body>
</html>
